altgraph==0.17.2
attrs==21.2.0
iniconfig==1.1.1
macholib==1.15.2
packaging==21.2
pluggy==1.0.0
py==1.11.0
pyinstaller==4.6
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
pytest==6.2.5
toml==0.10.2
yapf==0.31.0
